body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    overflow: hidden;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding: 2%;
}
.half-width h1{
    font-size: 56px;
}
.orange-highlight{
    color: orange !important;
}
.half-width h3{
    font-size: 24px;
    color: #585858;
}
.half-width p{
    color: #a1a1a1;
}
.half-width h2{
    font-size: 40px;
}
.half-width a{
    text-decoration: none;
    padding: 10px 30px;
    background: linear-gradient(45deg, orange, tomato);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    padding-bottom: 70px;
}
.experience-area h1{
    text-align: center;
    font-size: 50px;
}
.experience-area-box{
    box-shadow: 10px 10px 50px gray;
    background: white;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, orange, tomato);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(42, 39, 209), tomato);
    border-image-slice: 1;
}
.footer p{
    text-align: center;
}
